@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* .resizable {
    width: 200px;
    resize: horizontal;
    overflow: auto;
    cursor: ew-resize;
  } */
  /* .custom-resizable-box {
    position: relative;
  }
  
  .custom-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    right: 0;
    cursor: ew-resize; 
    background-color: #ccc;
  } */
  .ant-modal .ant-modal-content {
    border-radius: 3px;
  }
   .xsd{
    font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
   }
   svg{
    width: 100%;
   }
   div{
    scrollbar-width: thin;
    scrollbar-color: 'unset';
  
   }
   .ant-layout, 
  .ant-layout *
   {
       border-radius: 2px !important;
   }
   .ant-input-outlined{
       border-radius: 2px !important;
   }
   .ant-select-selector{
       border-radius: 2px !important;
   }
  .ant-collapse-ghost >.ant-collapse-item >.ant-collapse-content >.ant-collapse-content-box {
    padding-block: 0px;
}
.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 0px;
}
.ant-dropdown .ant-dropdown-menu, 
.ant-dropdown-menu-submenu .ant-dropdown-menu
{
  background-color: rgb(236, 236, 236);
  /* border-top-width: 1px;
  border-color: darkgray; */
  border-radius: 1px;
  padding:0;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item, 
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item, 
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title, 
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title
{


  border-color: darkgray;
  border-radius: 1px;
}
  html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .overflow-auto {
    overflow-y: auto;
  }
  
  .flex-grow-1 {
    flex-grow: 1;
  }
  
  .table-responsive {
    max-height: 50%; /* Ajusta el tamaño de la tabla */
    overflow-y: auto;
  }  

  /* Estilo para el header del panel cuando está activo */
/* .active-panel .ant-collapse-header {
  background-color: #5140ee; 
  color: #5e18cd;
} */

/* Hover normal */
/* .ant-collapse-header:hover {
  background-color: #bb0303; 
} */

/* Hover activo cuando está expandido */
/* .active-panel .ant-collapse-header:hover {
  background-color: #ef7a3fed; 
} */